body {
  margin: 0;
  background: radial-gradient(circle at top, #0f2027, #000);
  font-family: Arial;
  text-align: center;
  color: white;
}

.container {
  padding: 20px;
}

.card {
  display: none;
  padding: 20px;
  margin: auto;
  max-width: 350px;
  border-radius: 20px;
  border: 2px solid #00ffe5;
  box-shadow: 0 0 25px #00ffe5;
  background: rgba(0,0,0,0.6);
}

.card.active {
  display: block;
}

img {
  width: 100%;
  border-radius: 15px;
}

button {
  margin-top: 20px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #ff00cc;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 15px #ff00cc;
  cursor: pointer;
}

input {
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: none;
}

canvas {
  width: 100%;
  max-width: 300px;
}
.bkash{
  width: 100px;
  margin-bottom: 10px;
}

.title{
  color: #00ffcc;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #00ffcc;
}

.shot{
  display: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}
.dev{
  color: white;
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin: 0;
}

.arnob{
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, #fff200, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
